body {
    background-color: #f0f0f0; /* цвет фона */
    font-family: Arial, sans-serif; /* шрифт */
}

h1 {
    color: #333; /* цвет текста заголовка */
}

p {
    color: #666; /* цвет текста обычного абзаца */
}

h2 {
    color: #FF00FF; /* цвет текста заголовка */
}